<h1>Listing messages of <%=@user.email%> </h1>
<% unless @user==current_user %>
  <% unless @subscribed %>
    <%= button_to 'Subscribe', user_subscriptions_path(@user), :method => :post %>
  <% else %>
    <%= button_to 'Unsubscribe', user_subscription_path(@user,@subscribed), :method => :delete %>
  <% end %>
<% end %>

<%= render :partial=>'message_list' %>

