<h1>All messages</h1>

<div id='someusers'>
  Some users:
  <ul>
   <% @someusers.each{|user| %>
     <li><%= link_to user.email,[user] %></li>
   <% } %>
  </ul>
  <%= link_to "more...",users_path %>
</div>

<%= render 'messages/message_list' %>

<%= render(:partial=>'subscriptions') %>

